# App name
APP_NAME = 'Up-Monitor by Abdullah'
APP_ENV = 'development'
# Database
MONGODB_URI = 'mongodb://127.0.0.1:27017/testdb'
# Server
HOST = 'http://localhost:5000'
PORT = 5000
# Authentication
ACCESS_TOKEN_PRIVATE_KEY = '4OTTWAEUKNOGMERAGKTHENBUTITAXL'
ACCESS_TOKEN_EXPIRY = '15m'
REFRESH_TOKEN_PRIVATE_KEY = 'NOTTW3EUKNOGMRAGKTHENB3UTITAXL'
REFRESH_TOKEN_EXPIRY = '7d'
VERIFICATION_TOKEN_PRIVATE_KEY = '5OTT6UKNOGMER7777KTHENBUTI8AXL'
VERIFICATION_TOKEN_EXPIRY = '24h'
VERIFICATION_TOKEN_LIMIT = 3 # limit per expiry window
# Email Service (fake SMTP service credentials, update with real SMTP integration credential e.g. SendGrid)
EMAIL_HOST = 'smtp.ethereal.email'
EMAIL_PORT = 587
EMAIL_USER = 'dillan.johnston@ethereal.email'
EMAIL_PASS = '24Qh9RMPQPv8zyRtvp'
EMAIL_SENDER = 'Abdullah Alabd <abdullah.a.alabd@gmail.com>'